### Machine Learning Class 1

In [1]:
''' Import all library '''
import pandas as pd
import numpy as np
import os

In [2]:
''' Dataset Path '''

Root_Path = 'C:\\Users\\mdmes\\OneDrive\\Desktop\\Pandas Data'
Data_Path = os.path.join(Root_Path, 'house_data.csv')

house_data=pd.read_csv(
    Data_Path 
)

house_data.head()

   area     price
0  7420  13300000
1  8960  12250000
2  9960  12250000
3  7500  12215000
4  7420  11410000